.asian-girls-image {
  border-color: black;
  border-width: 2px;
  padding: 5px;
  margin-left: 10px;
  max-width: 80%;
  max-height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.big-gay-with-slave-image {
  border-color: black;
  border-width: 2px;
  padding: 5px;
  margin-right: 10px;
  max-width: 20%;
  max-height: 20%;
  float: left;
}

.bill-cosby-image {
  border-color: black;
  border-width: 2px;
  padding: 5px;
  margin-right: 10px;
  max-width: 10%;
  max-height: 10%;
  float: left;
}

.craig-tucker-2-image {
  border-color: black;
  border-width: 2px;
  padding: 5px;
  margin-right: 10px;
  max-width: 20%;
  max-height: 20%;
  float: left;
}

.image-style-options-1 {
  border-color: black;
  border-width: 2px;
  padding: 5px;
  margin-left: 10px;
  max-width: 15%;
  max-height: 15%;
  float: right;
}
.image-style-options-2 {
  border-color: black;
  border-width: 2px;
  padding: 5px;
  margin-left: 10px;
  max-width: 10%;
  max-height: 10%;
  float: right;
}
.image-style-options-left {
  border-color: black;
  border-width: 2px;
  padding: 5px;
  margin-right: 10px;
  max-width: 20%;
  max-height: 20%;
  float: left;
}

@media (max-width: 540px) {
  .image-style-options-1 {
    border-color: black;
    border-width: 2px;
    padding: 5px;
    margin: 5px;
    max-width: 80%;
    max-height: 80%;
    float: none;
  }
  .image-style-options-2 {
    border-color: black;
    border-width: 2px;
    padding: 5px;
    margin: 5px;
    max-width: 80%;
    max-height: 80%;
    float: none;
  }
}
.character-name {
  font-weight: bold;
}

.nav-link {
  color: black !important;
}
.nav-link.active {
  background-color: #212429 !important;
  color: white !important;
}
.nav-link:hover {
  color: grey;
}

.episodes-title {
  font-style: italic;
}

.footer {
  height: 65px;
}