.main-info {
  padding: 50px 0px;
}

.title {
  text-align: center;
}

.footer-social-items {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0px 8px;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: black;
}

#footer {
  margin: 25px 0px;
}

.card-image-kenny {
  height: auto;
  width: 70%;
}
.card-image-stan {
  height: auto;
  width: 60%;
}